html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.fa-trash-can {
  font-size: 1.3rem;
}
:root {
  --primary-color: #1c3b5e;
  --secondary-color: #b5481d;
  --dotted-border: 2px dotted #9cb5d2;
  --solid-border: 2px solid #9cb5d2;
  --active-button: #5b89be;
  --shadow: rgba(18, 18, 18, 0.35) 0px 1px 4px 0px;
}

.errorStatus {
  padding: 1rem;
  border: 2px solid red;
  text-align: center;
  font-size: 1rem;
}

.loadingStatus {
  padding: 1rem;
  border: 2px solid rgb(69, 167, 69);
  text-align: center;
  font-size: 1rem;
}

@media (max-width: 768px) {
  html {
    font-size: 13px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 11px;
  }
}
