.searchContainer {
  width: 20rem;
  margin-right: 3rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.4rem;
}

.searchBar {
  width: 80%;
  all: unset;
}

.magnifier {
  font-size: 1.5rem;
}
