* {
  margin: 0;
}

.eventCard {
  margin-top: 2rem;
  max-width: 30rem;
  /* display: grid;
  grid-template-columns: minmax(15rem, 20rem) 1fr;
  gap: 2rem; */
}

.infoContainer {
  display: grid;
  grid-template-columns: auto 1fr;
  text-align: justify;
}

.eventInfo {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: baseline;
  gap: 1rem;
}

.eventImage {
  margin-bottom: 1rem;
  max-width: 30rem;
  max-height: 20rem;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.dateTime,
.eventLocation {
  display: flex;
  gap: 1rem;
}

.toggleButton {
  margin-top: 1rem;
  border-radius: 1rem;
  background-color: darkslategrey;
  color: white;
}

.toggleButton:hover {
  background-color: rgb(95, 130, 130);
}

.toggleButton:active {
  background-color: rgb(37, 61, 61);
}
