.loginIcon {
  color: white;
  background-color: transparent;
  border: none;
  position: relative;
  cursor: pointer;
}

.loginIcon:active {
  color: var(--secondary-color);
}

.loggedIn {
  position: absolute;
  bottom: -5px;
  right: -2px;
  animation: pop-in 0.5s ease-out;
}

.loginMenu {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: var(--primary-color);
  max-height: 10rem;
  padding: 0.5rem 2rem;
  position: absolute;
  right: 95px;
  top: 100%;
}

.linkOptions {
  all: unset;
  color: white;
  cursor: pointer;
}

.linkOptions:hover {
  color: var(--secondary-color);
}

.linkOptions:active {
  color: var(--secondary-color);
}

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 768px) {
  .loginIcon {
    height: 4rem;
    width: 2rem;
  }

  .loggedIn {
    bottom: -5px;
    right: -23px;
  }
}

@media (max-width: 480px) {
  .loginIcon {
    height: 3rem;
    width: 1rem;
  }

  .loggedIn {
    bottom: -10px;
    right: -35px;
  }

  .loginMenu {
    right: 50px;
  }
}
