.loginIcon {
  color: white;
  background-color: transparent;
  border: none;
}

.loginIcon:active {
  color: #b5481d;
}

.loginMenu {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #1c3b5e;
  max-height: 10rem;
  padding: 0.5rem 2rem;
  position: absolute;
  right: 95px;
  top: 100%;
}

.linkOptions {
  all: unset;
  color: white;
  cursor: pointer;
}

.linkOptions:hover {
  color: #b66c4f;
}

.linkOptions:active {
  color: #b5481d;
}

@media (max-width: 768px) {
  .loginIcon {
    height: 4rem;
    width: 2rem;
  }
}

@media (max-width: 480px) {
  .loginIcon {
    height: 3rem;
    width: 1rem;
  }
}
