.detailContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;
}

.imageBlock {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-height: 20rem;
  max-height: 30rem;
  width: 100%;
  margin-bottom: 2rem;
}

.imageBlock > * {
  height: 100%;
  width: 100%;
}

.blackBoxR {
  background-color: black;
  background: linear-gradient(to right, black, 75%, rgb(90, 87, 87));
}

.blackBoxL {
  background-color: black;
  background: linear-gradient(to right, rgb(90, 87, 87), 30%, black);
}
.eventImage {
  object-fit: contain;
}

.shortInfo {
  margin: 3rem 0 0 2rem;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.3rem;
}

.description {
  margin: 2rem;
  max-width: 60%;
  line-height: 2rem;
}

.legend {
  font-size: 1.2rem;
  font-weight: 700;
  margin-right: 1rem;
}
.description > * {
  padding: 0.2rem;
}

.descInfo {
  font-size: 1.1rem;
}

.backButton {
  text-decoration: none;
  all: unset;
  color: white;
  font-size: 0.9rem;
  cursor: pointer;
}

.tickets {
  display: flex;
  gap: 2rem;
}

.counter {
  /* 
  height: 3rem;
  width: 10rem;
  border: 1px solid rgb(154, 154, 230);
  padding: 0.5rem;
  border-radius: 2rem;
  align-items: center;
   */
  box-shadow: rgba(18, 18, 18, 0.15) 0px 1px 4px 0px;

  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  padding: calc(4px);
  border: 1px solid rgb(191, 191, 191);
  border-radius: 32px;
  width: 9rem;
}

.minusButton,
.plusButton {
  border-radius: 50%;
  border: none;
  cursor: pointer;
  height: 100%;
  aspect-ratio: 1 / 1;
}

.minusButton {
  color: #305177;
  background-color: transparent;
  font-size: 2rem;
}

.plusButton {
  background-color: #305177;
  color: white;
  font-size: 1.5rem;
}
.minusButton:active {
  color: #5184bf;
}

.plusButton:active {
  background-color: #5184bf;
}

.buyTickets {
  border-radius: 32px;
  background-color: #305177;
  border: 1px solid rgb(191, 191, 191);
  box-shadow: rgba(18, 18, 18, 0.15) 0px 1px 4px 0px;
  color: white;
  font-size: 1rem;
  width: 15rem;
  cursor: pointer;
}
.buyTickets:active {
  background-color: #5184bf;
}

.count {
  font-size: 1.3rem;
}
@media (max-width: 768px) {
  html {
    font-size: 13px;
  }

  .description {
    max-width: 90%;
    margin: 1.5rem;
  }

  .imageBlock {
    min-height: 15rem;
  }

  .tickets {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
  }

  .buyTickets {
    padding: 0.5rem 0;
  }
  .tickets > p {
    width: 100%;
    margin: 0;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 11px;
  }

  .shortInfo {
    margin: 2rem 0 0 1rem;
  }
}
