.cardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 18rem), 1fr));
  gap: 2rem;
  padding: 1rem;
}

.pageButtonsContainer {
  margin-top: 1rem;
  text-align: center;
}

.noResults {
  text-align: center;
  line-height: 1.5rem;
}
